html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: red;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    z-index: 2;
}
